/* @import url ("https://fonts.googleapis.com/css2?family")  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&family=Imbue:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
li {
  list-style-type: none;
}

h5,
h6 {
  color: #111;
  font-weight: bold;
}
/* header styling  */
header {
  height: 40rem;
  width: 100%;
  margin-bottom: 2rem;
  background: linear-gradient(to bottom, #4c5dbe, #f1f1f1);
  overflow-x: hidden;
  /* background: linear-gradient(#ad5390, #3c1053); */
  /* background: linear-gradient(#42275a, #73456d); */
}

.mobile_nav {
  display: none;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 5rem;
  width: 100%;
  z-index: 200;
  background-color: transparent;
  /* box-shadow: 2px 2px 5px #ccc; */
}
.nav_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 10rem;
  height: 50%;
  margin-left: 2rem;
}
.logo a {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Imbue", sans-serif;
  font-weight: bolder;
  color: #fff;
}
ul {
  height: 100%;
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2rem;
}
li {
  display: inline-block;
  transition: padding 0.1s ease-out;
}
li:last-child {
  padding: 1rem;
  background-color: navy;
  border-radius: 0.1rem;
  box-shadow: 1px 1px 1px navy;
}
li > a {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: #f1f1f1;
}
li:hover {
  padding: 1rem;
  background-color: navy;
}

/* mobile view navigation styling */
@media only screen and (max-width: 786px) {
  header {
    height: 40rem;
    position: relative;
  }
  .mobile_nav {
    display: block;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .hamburger {
    padding: 1rem;
    cursor: pointer;
    margin-right: 3rem;
  }
  .hamburger > .lines {
    height: 0.25rem;
    width: 1.5rem;
    background-color: #fff;
    margin: 0.4rem 0;
    position: relative;
  }
  .lines::before,
  .lines::after {
    content: "";
    height: 0.25rem;
    width: 1.5rem;
    background-color: #fff;
    position: absolute;
  }
  .lines::before {
    top: 0.5rem;
  }
  .lines::after {
    bottom: 0.5rem;
  }
  ul {
    flex-direction: column;
    position: absolute;
    height: 15rem !important;
    top: 5rem;
    left: 0;
    background-color: #4c5dbe;
    width: 100%;
    transform: translateY(-300px);
    transition: transform 0.5s ease;
    z-index: -200 !important;
  }
  .active {
    transform: translateY(0);
  }
  li {
    display: block !important;
  }
  li:first-child {
    margin-top: 1rem;
  }
  li:last-child {
    padding: 0 0 !important;
    background: none;
    margin-bottom: 1rem;
    box-shadow: none !important;
  }
  li > a {
    font-size: 1.6rem;
    font-weight: bold;
  }
}
#background {
  height: 100%;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #background::after {
  content: "";
  background: linear-gradient(to bottom, #314ad8, #f1f1f1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
#background > div {
  height: 100%;
  width: 100%;
  z-index: 20;
}
.background_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text_container {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.text_container > h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Imbue", sans-serif;
  color: #fff;
  text-align: left;
}

.text_container a {
  display: inline-block;
  border: none;
  padding: 1rem;
  background-color: #4c5dbe;
  box-shadow: 1px 1px 1px #4c5dbe;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  transition: background 0.2s ease-in;
  text-align: center;
}
.text_container > a:hover {
  text-decoration: underline;
  background: #2948ff;
}
.background_image {
  background-image: url(./images/Phone_maintenance_Monochromatic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* services section styling */
#service {
  height: 200rem;
  width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
}
.container {
  height: 90%;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}
.services {
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#two,
#four,
#six {
  height: 30rem;
  width: 100%;
  flex-direction: row-reverse;
}
.services > div {
  height: 25rem;
}

.image_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}
.container_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 3rem; */
}
@media only screen and (min-width: 800px) {
  .image_container {
    width: 50%;
    max-width: 70rem;
  }
  .container_text {
    width: 50%;
    max-width: 50rem;
  }
}

#two,
#four,
#four .container_text > h2,
h5,
h6 {
  text-align: right;
}

h2 {
  width: 80%;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Imbue", sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: #000;
  margin-right: 2rem;
}
.inner_container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.inner_container span h2 {
  margin: 0 auto;
}
h5,
h6 {
  width: 80%;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  text-align: justify;
  line-height: 1.45;
  word-spacing: 0.1rem;
  color: #000;
  margin: 0 auto;
  margin-top: 1rem;
}
h5::first-letter {
  text-transform: uppercase;
}

/* catalog section styling */
#about {
  height: 105rem;
  width: 100%;
  background: linear-gradient(to top, #fff, #f1f1f1);
}
.about_container {
  height: 100%;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.text__container {
  height: 15rem;
  width: 20rem;
  margin: 0 auto;
}
.text__container h1 {
  font-size: 7rem;
  font-family: "Imbue", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #111;
}
h1 > small {
  color: #4c5dbe;
}
.image__container {
  /* background-color: #4c5dbe; */
  background-color: #2948ff;
  height: 30rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}
.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_us {
  height: 17rem;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.about_us h2 {
  font-size: 3rem;
  font-family: "Imbue", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #4c5dbe;
  text-align: center;
  margin-bottom: 1rem;
}
.about_us h5,
h6 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  text-align: justify;
  line-height: 1.5;
  color: #000;
}
.how__we__work {
  height: 30rem;
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-image: url(./images/sales2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.how__we__work::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.5));
}
.text,
.work__details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  justify-content: space-evenly;
}
.text > span {
  font-weight: bolder;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: #fff;
}
.reliable {
  color: #fff !important;
  font-size: 4.5rem;
  z-index: 200;
}
.work__details {
  justify-content: center;
  background-color: #333;
  z-index: 20;
}
.work__details p {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  text-align: justify;
  margin: 0 0.5rem;
  color: #fff;
}
#contact {
  width: 100vw;
  height: 40rem;
  background: linear-gradient(to top, #fff, #f1f1f1);
}
.footer__container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.article {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article > div {
  height: 25rem;
  max-width: 30rem;
  padding: 1rem;
}
.article > div > h1 {
  font-size: 2.5rem;
  font-family: "Imbue" sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: #111;
}
p {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #4c5dbe;
}
.icon__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 1rem;
}
.contact {
  height: 50%;
  flex-direction: column;
  justify-content: center !important;
}
.contact span {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem 0;
}
.contact span img {
  height: 4rem;
  width: 5rem;
}
.contact span a {
  display: inline-block;
  font-size: 2rem;
}
.fa-facebook-square,
.fa-instagram,
.fa-envelope,
.fa-whatsapp {
  font-size: 3rem;
  color: #4c5dbe;
}
.date__container {
  height: 7rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.date__container > span {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Roboto" sans-serif;
  text-transform: capitalize;
}
footer {
  background-color: #333;
  color: #fff;
}
.back__top {
  height: 4rem;
  width: 4rem;
  position: sticky;
  top: 0;
  right: 2rem;
  background-color: red;
  display: none;
}
.back__top .top {
  display: inline-block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-chevron-up {
  font-size: 2rem;
  color: #fff;
}
/* mobile styling for all section  */
@media only screen and (max-width: 690px) {
  .text_container {
    /* margin-left: 5rem; */
    background-image: url(./images/Phone_maintenance_Monochromatic.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100% !important;
  }
  .text_container > h1 {
    font-size: 3rem !important;
    text-align: left;
    /* margin-bottom: 1rem; */
    color: #f1f1f1;
    margin-left: 0;
  }

  .background_image {
    display: none;
  }

  .text_container > a {
    font-size: 1.5rem;
  }
  #service {
    height: 350rem !important;
    background-color: #fff;
  }
  .container {
    width: 100% !important;
  }
  .services {
    flex-direction: column !important;
    height: 50rem !important;
    margin-bottom: 3rem;
  }
  .services > div {
    width: 30rem;
  }
  .inner_container {
    height: 100%;
  }
  .inner_container span h2 {
    font-size: 2.3rem;
  }

  h5,
  h6 {
    text-align: justify;
  }
  .about_us {
    height: 25rem !important;
  }
  .about_us h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .about_us h5,
  h6 {
    font-size: 1.2rem !important;
    text-align: left !important;
    margin: 0 1rem;
  }
  .how__we__work {
    width: 100% !important;
  }
  .how__we__work div {
    width: 100% !important;
  }
  .text span {
    font-size: 4rem;
  }
  .work__details p {
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: justify;
  }
  #contact {
    height: 70rem;
    margin-top: 40rem;
  }
  .article {
    flex-direction: column;
  }
  .article > div h1 {
    font-size: 2rem;
    margin-bottom: 2rem !important;
  }
}

@media only screen and (max-width: 380px) {
  .text_container {
    width: 100% !important;
  }
  .about_us {
    height: 30rem !important;
  }
}
@media only screen and (max-width: 900px) {
  ul {
    justify-content: space-between !important;
  }
  .background_text {
    margin-left: 1rem;
  }
  .text_container > p {
    font-size: 1.6rem;
    text-align: center;
  }
}
